* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fafafa;
}

body.__active {
  background: #161722;
}

.__width-1200 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header {
  position: relative;
  z-index: 100;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  line-height: 66px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.header .__width-1200 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .__width-1200 .img-change {
  cursor: pointer;
}

.header .__width-1200 .img-change:hover {
  -webkit-transition: 0.9s ease-in-out;
  transition: 0.9s ease-in-out;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.header .__width-1200 .img-change .__hidden {
  display: none;
}

.subheader {
  background: url("../../../../images/bg-desktop-light.jpg") no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  margin-top: -130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subheader.__active {
  background: url("../../../../images/bg-desktop-dark.jpg") no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  margin-top: -130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subheader .__width-1200 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subheader .__width-1200 form {
  width: 70%;
}

.subheader .__width-1200 .new_todo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #484b6a;
  font-weight: 400;
}

.subheader .__width-1200 .new_todo::-webkit-input-placeholder {
  color: #9394a5;
}

.subheader .__width-1200 .new_todo:-ms-input-placeholder {
  color: #9394a5;
}

.subheader .__width-1200 .new_todo::-ms-input-placeholder {
  color: #9394a5;
}

.subheader .__width-1200 .new_todo::placeholder {
  color: #9394a5;
}

.subheader .__width-1200 .new_todo.__active {
  background-color: #25273c;
  color: #cacde8;
}

.subheader .__width-1200 .new_todo.__active::-webkit-input-placeholder {
  color: #777a92;
}

.subheader .__width-1200 .new_todo.__active:-ms-input-placeholder {
  color: #777a92;
}

.subheader .__width-1200 .new_todo.__active::-ms-input-placeholder {
  color: #777a92;
}

.subheader .__width-1200 .new_todo.__active::placeholder {
  color: #777a92;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .list-todo {
  width: 70%;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: 0;
  margin-top: -100px;
  background: #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .list-todo ul {
  width: 100%;
}

.content .list-todo ul.__active {
  background-color: #25273c;
}

.content .list-todo ul.__active li {
  color: #cacde8;
}

.content .list-todo ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #9394a5;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #484b6a;
  font-weight: 400;
}

.content .list-todo ul li input[type="radio"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.content .list-todo .box-stts {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #9394a5;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.content .list-todo .box-stts .clean_list {
  cursor: pointer;
}

.content .list-todo .box-stts .clean_list:hover {
  color: #484b6a;
}

.content .list-todo .box-stts .status a {
  cursor: pointer;
}

.content .list-todo .box-stts .status a:nth-of-type(2) {
  margin: 0 10px;
}

.content .list-todo .box-stts .status a:hover {
  color: #484b6a;
}

.content .list-todo .box-stts .status .__active {
  color: #3a7bfd;
  pointer-events: none;
}

.content [data-todo] span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.content [data-todo] span::before {
  width: 20px;
  height: 20px;
  content: "";
  border: 1px solid #9394a5;
  border-radius: 50%;
}

.footer {
  padding-top: 100px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #484b6a;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */