.content {
  display: flex;
  justify-content: center;

  .list-todo {
    width: 70%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: 0;
    margin-top: -100px;
    background: $white;
    height: fit-content;
    display: flex;
    flex-direction: column;

    @include mobile_s {
      margin-top: -50px;
      width: 100%;
    }

    @include mobile_m {
      margin-top: -50px;
      width: 100%;
    }

    @include mobile_l {
      margin-top: -50px;
      width: 100%;
    }

    .todo {
      width: 100%;

      &.__active {
        background-color: $yankees_blue;

        .item-todo {
          color: $periwinkle;
        }
      }

      .item-todo {
        padding: 10px 20px;
        border-bottom: 1px solid $manatee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        @include text(
          $f_size: 20px,
          $f_weight: 400,
          $l_height: 30px,
          $color: $independence
        );

        @include mobile_s {
          font-size: 16px;
          line-height: 24px;
        }

        @include mobile_m {
          font-size: 16px;
          line-height: 24px;
        }

        @include mobile_l {
          font-size: 16px;
          line-height: 24px;
        }

        .item {
          display: flex;
          gap: 10px;
          align-items: center;

          &::before {
            width: 20px;
            height: 20px;
            content: "";
            border: 1px solid $manatee;
            border-radius: 50%;
          }
        }

        &.__completed {
          .item {
            text-decoration: line-through;

            &::before {
              width: 20px;
              height: 20px;
              content: "";
              border: 1px solid $manatee;
              border-radius: 50%;
              background: linear-gradient(
                to left,
                hsl(192, 100%, 67%),
                hsl(280, 87%, 65%)
              );
            }
          }
        }

        &.__hidden {
          display: none;
        }
      }
    }

    .box-stts {
      @include text(
        $f_size: 16px,
        $f_weight: 700,
        $l_height: 24px,
        $color: $manatee
      );

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;

      @include mobile_s {
        padding: 10px;
        justify-content: center;
        text-align: center;
      }

      @include mobile_m {
        padding: 10px;
        justify-content: center;
        text-align: center;
      }

      @include mobile_l {
        padding: 10px;
        justify-content: center;
        text-align: center;
      }

      .clean_list {
        cursor: pointer;

        &:hover {
          color: $independence;
        }
      }

      .status {
        @include mobile_s {
          text-align: center;
        }

        @include mobile_m {
          text-align: center;
        }

        @include mobile_l {
          text-align: center;
        }
        a {
          cursor: pointer;

          &:nth-of-type(2) {
            margin: 0 10px;

            @include mobile_s {
              margin: 0 5px;
            }

            @include mobile_m {
              margin: 0 5px;
            }

            @include mobile_l {
              margin: 0 5px;
            }
          }

          &:hover {
            color: $independence;
          }
        }
        .__active {
          color: $ultramarine_blue;
          pointer-events: none;
        }
      }
    }

    &.__active {
      background-color: $yankees_blue;
      box-shadow: none;

      .item-todo {
        color: $rhythm;
      }

      .box-stts {
        color: $independence;

        .status a {
          &:hover {
            color: $periwinkle;
          }
        }

        .clean_list {
          &:hover {
            color: $periwinkle;
          }
        }
      }
    }
  }
}
