.subheader {
  background: url("../../../../images/bg-desktop-light.jpg") no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  margin-top: -130px;
  display: flex;

  @include mobile_s {
    background: url("../../../../images/bg-mobile-light.jpg") no-repeat center;
    height: 200px;
    width: 100%;
    background-size: cover;
    margin-top: -70px;
    border: 1px solid red;
  }

  @include mobile_m {
    background: url("../../../../images/bg-mobile-light.jpg") no-repeat center;
    height: 200px;
    width: 100%;
    background-size: cover;
    margin-top: -70px;
  }

  @include mobile_l {
    background: url("../../../../images/bg-mobile-light.jpg") no-repeat center;
    height: 200px;
    width: 100%;
    background-size: cover;
    margin-top: -70px;
  }

  &.__active {
    background: url("../../../../images/bg-desktop-dark.jpg") no-repeat;
    width: 100%;
    height: 400px;
    background-size: cover;
    margin-top: -130px;
    display: flex;

    @include mobile_s {
      background: url("../../../../images/bg-mobile-dark.jpg") no-repeat center;
      height: 200px;
      width: 100%;
      background-size: cover;
      margin-top: -70px;
      border: 1px solid red;
    }

    @include mobile_m {
      background: url("../../../../images/bg-mobile-dark.jpg") no-repeat center;
      height: 200px;
      width: 100%;
      background-size: cover;
      margin-top: -70px;
    }

    @include mobile_l {
      background: url("../../../../images/bg-mobile-dark.jpg") no-repeat center;
      height: 200px;
      width: 100%;
      background-size: cover;
      margin-top: -70px;
    }
  }

  .__width-1200 {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile_s {
      padding-top: 30px;
    }

    @include mobile_m {
      padding-top: 30px;
    }

    @include mobile_l {
      padding-top: 30px;
    }

    form {
      width: 70%;

      @include mobile_s {
        width: 100%;
      }

      @include mobile_m {
        width: 100%;
      }

      @include mobile_l {
        width: 100%;
      }
    }

    .new_todo {
      height: fit-content;
      width: 100%;
      border-radius: 5px;
      padding: 10px 20px;
      border: 0;

      @include text(
        $f_size: 20px,
        $f_weight: 400,
        $l_height: 30px,
        $color: $independence
      );

      @include mobile_s {
        font-size: 16px;
        line-height: 24px;
      }

      @include mobile_m {
        font-size: 16px;
        line-height: 24px;
      }

      @include mobile_l {
        font-size: 16px;
        line-height: 24px;
      }

      &::placeholder {
        color: $manatee;
      }

      &.__active {
        background-color: $yankees_blue;
        color: $periwinkle;

        &::placeholder {
          color: $rhythm;
        }
      }
    }
  }
}
