$lotion: #fafafa;
$ultramarine_blue: #3a7bfd;
$lavander: #e4e5f1;
$light_gray: #d2d3db;
$manatee: #9394a5;
$independence: #484b6a;

// Dark theme
$eerie_black: #161722;
$yankees_blue: #25273c;
$periwinkle: #cacde8;
$rhythm: #777a92;
$arsenic: #393a4c;
