.footer {
  padding-top: 100px;
  text-align: center;

  @include text(
    $f_size: 16px,
    $f_weight: 400,
    $l_height: 24px,
    $color: $independence
  );

  @include mobile_s {
    padding-top: 50px;
  }

  @include mobile_m {
    padding-top: 50px;
  }

  @include mobile_l {
    padding-top: 50px;
  }
}
